.active {
    background-color: #b900aa;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 759px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 40px;
}

.page-btn {
    width: 30px;
    height: 30px;
    border-radius: 5%;
    background-color:rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.start-page {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.end-page {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#next, #prev {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}